.list{
  text-align: center;
  border: 1px dashed blueviolet;
  padding: 0.5rem;
  margin:0 15rem;
}
.list input{
  margin: 1rem;
}
.table{
  width: 25rem;
  margin: 0 auto;
  border: 1px solid black;
  border-collapse: collapse;
}
.table th{
  padding: 1rem ;
}
.tbody td{
  border: 1px solid black;
  padding: 0.5rem;
  
}